In [1]:
import pandas as pd
from sodapy import Socrata
import seaborn as sns
import matplotlib as plt
import datetime

Getting the DOB Permit Issuance data from Socrata API and saving it into dataframe

In [2]:
client = Socrata("data.cityofnewyork.us", "1P6Gkpkyf7HJnxKNFgyky6tWN")
results_permit = client.get("ipu4-2q9a", where="issuance_date > '2014-01-01' AND job_start_date > '2014-01-01' ",limit=2000000)

Saving the data into df_permit

In [3]:
df_permit = pd.DataFrame.from_records(results_permit)

Describing the dataframe

In [4]:
df_permit.describe()

,act_as_superintendent,bin__,bldg_type,block,borough,city,community_board,dobrundate,expiration_date,filing_date,...,site_safety_mgr_s_first_name,site_safety_mgr_s_last_name,special_district_1,special_district_2,state,street_name,superintendent_business_name,superintendent_first___last_name,work_type,zip_code
count,6,862868,862868,862868,862868,862863,861995,862868,862868,862868,...,12439,12439,161312,33641,862865,862868,46478,49476,744323,862061
unique,1,141505,2,13042,5,2939,78,451,2278,2061,...,407,837,78,8,49,19643,2860,3141,12,225
top,Y,1015862,2,16350,MANHATTAN,NEW YORK,105,2017-11-03T00:00:00.000,2017-04-01T00:00:00.000,2017-03-29T00:00:00.000,...,ADMINISTRATIVE,WAIVER,MID,POPS,NY,BROADWAY,MRM DEVELOPMENT CORP,ROBERT SAN MIGUEL,OT,10022
freq,6,967,662991,3942,361346,332230,85212,614741,4079,1042,...,872,872,40968,14275,833987,22573,415,490,291237,20335

list of columns

In [5]:
df_permit.columns

Index(['act_as_superintendent', 'bin__', 'bldg_type', 'block', 'borough',
       'city', 'community_board', 'dobrundate', 'expiration_date',
       'filing_date', 'filing_status', 'gis_census_tract',
       'gis_council_district', 'gis_latitude', 'gis_longitude', 'gis_nta_name',
       'hic_license', 'house__', 'issuance_date', 'job__', 'job_doc___',
       'job_start_date', 'job_type', 'lot', 'non_profit', 'oil_gas',
       'owner_s_business_name', 'owner_s_business_type', 'owner_s_first_name',
       'owner_s_house__', 'owner_s_house_street_name', 'owner_s_last_name',
       'owner_s_phone__', 'owner_s_zip_code', 'permit_sequence__',
       'permit_si_no', 'permit_status', 'permit_subtype', 'permit_type',
       'permittee_s_business_name', 'permittee_s_first_name',
       'permittee_s_last_name', 'permittee_s_license__',
       'permittee_s_license_type', 'permittee_s_other_title',
       'permittee_s_phone__', 'residential', 'self_cert', 'site_fill',
       'site_safety_mgr_business_name', 'site_safety_mgr_s_first_name',
       'site_safety_mgr_s_last_name', 'special_district_1',
       'special_district_2', 'state', 'street_name',
       'superintendent_business_name', 'superintendent_first___last_name',
       'work_type', 'zip_code'],
      dtype='object')

Rows of dataframe

In [6]:
df_permit.head(2)

,act_as_superintendent,bin__,bldg_type,block,borough,city,community_board,dobrundate,expiration_date,filing_date,...,site_safety_mgr_s_first_name,site_safety_mgr_s_last_name,special_district_1,special_district_2,state,street_name,superintendent_business_name,superintendent_first___last_name,work_type,zip_code
0,NaN,4071003,1,03041,QUEENS,QNS,405,2017-11-03T00:00:00.000,2016-08-31T00:00:00.000,2015-09-01T00:00:00.000,...,NaN,NaN,NaN,NaN,NY,79 PL,NaN,NaN,EQ,11379
1,NaN,1813346,2,09999,MANHATTAN,NEWYORK,118,2017-11-03T00:00:00.000,2015-03-05T00:00:00.000,2014-10-29T00:00:00.000,...,NaN,NaN,NaN,NaN,NY,MANHATTAN PLAZA,NaN,NaN,OT,10007

Getting the DOB violation data from Socrata API and saving it into df_violation dataframe

In [7]:
len(df_permit.index)

862868

In [73]:
df_permit.to_csv("df_permit.csv")

In [77]:
client = Socrata("data.cityofnewyork.us", "1P6Gkpkyf7HJnxKNFgyky6tWN")
results_violation = client.get("dvnq-fhaa",where="issue_date > '2014-01-01' AND issue_date < '2019-03-31' ",limit=1000000)
df_violation = pd.DataFrame.from_records(results_violation)

Describing the dataframe

In [81]:
len(df_violation.index)

457963

In [82]:
df_violation.describe()

,bin,block,boro,description,device_number,disposition_comments,disposition_date,ecb_number,house_number,isn_dob_bis_viol,issue_date,lot,number,street,violation_category,violation_number,violation_type,violation_type_code
count,457960,457739,457961,300075,338079,259866,260053,73647,457959,457963,457963,457742,457963,457962,457708,457963,457963,457963
unique,101186,11403,10,14107,159636,105556,1511,73128,23579,457963,1886,1694,456648,10208,11,185002,32,32
top,1015219,00016,1,FAILURE TO CERTIFY CORRECTION ON IMMEDIATELY H...,00102562,PVT: SATISFIED BY SUBMISSION OF AOC FOR CAT 1 ...,20170713,35161623L,1,2133253,20140515,00001,V040618LBLVIO19550,BROADWAY,V-DOB VIOLATION - ACTIVE,00001,E-ELEVATOR,E
freq,340,1063,176471,69645,141,25887,4446,3,2941,1,22569,57377,4,11469,196126,217,142003,142003

list of columns

In [83]:
df_violation.columns

Index(['bin', 'block', 'boro', 'description', 'device_number',
       'disposition_comments', 'disposition_date', 'ecb_number',
       'house_number', 'isn_dob_bis_viol', 'issue_date', 'lot', 'number',
       'street', 'violation_category', 'violation_number', 'violation_type',
       'violation_type_code'],
      dtype='object')

Renaming bin_ to bin, as both the dataframes need to be joined on the common column bin

In [47]:
type(df_violation['issue_date'].iloc[0])

str

In [12]:
df_permit = df_permit.rename(columns={'bin__': 'bin'})

In [13]:
print(df_permit.isnull().sum()/len(df_permit)*100)

act_as_superintendent               99.999305
bin                                  0.000000
bldg_type                            0.000000
block                                0.000000
borough                              0.000000
city                                 0.000579
community_board                      0.101174
dobrundate                           0.000000
expiration_date                      0.000000
filing_date                          0.000000
filing_status                        0.000000
gis_census_tract                     0.493702
gis_council_district                 0.493702
gis_latitude                         0.493702
gis_longitude                        0.493702
gis_nta_name                         0.493702
hic_license                         99.689176
house__                              0.000000
issuance_date                        0.000000
job__                                0.000000
job_doc___                           0.000000
job_start_date                       0.000000
job_type                             0.000000
lot                                  0.000000
non_profit                           0.089121
oil_gas                             99.385422
owner_s_business_name                0.020513
owner_s_business_type                0.097002
owner_s_first_name                   0.000348
owner_s_house__                      0.001043
owner_s_house_street_name            0.000464
owner_s_last_name                    0.000348
owner_s_phone__                      0.004056
owner_s_zip_code                     0.000579
permit_sequence__                    0.000000
permit_si_no                         0.000000
permit_status                        0.172216
permit_subtype                      34.578290
permit_type                          0.000000
permittee_s_business_name            0.000000
permittee_s_first_name               0.000000
permittee_s_last_name                0.000000
permittee_s_license__                0.354284
permittee_s_license_type             0.000000
permittee_s_other_title             99.642935
permittee_s_phone__                  0.000000
residential                         43.726966
self_cert                            0.171173
site_fill                           23.329988
site_safety_mgr_business_name       99.112958
site_safety_mgr_s_first_name        98.558412
site_safety_mgr_s_last_name         98.558412
special_district_1                  81.305136
special_district_2                  96.101258
state                                0.000348
street_name                          0.000000
superintendent_business_name        94.613545
superintendent_first___last_name    94.266099
work_type                           13.738486
zip_code                             0.093525
dtype: float64

In [14]:
df_prefcolumn=df_permit.drop(columns=['hic_license','oil_gas','special_district_1','special_district_2','permit_subtype','site_safety_mgr_business_name','site_safety_mgr_s_first_name','site_safety_mgr_s_last_name','superintendent_business_name','superintendent_first___last_name'])

In [15]:
df_prefcolumn=df_prefcolumn.drop(columns=['owner_s_business_name','owner_s_business_type','owner_s_first_name','owner_s_house__','owner_s_house_street_name','owner_s_last_name','owner_s_phone__','owner_s_zip_code'])

In [84]:
# df_mergerd=pd.merge(left=df_prefcolumn,right=df_violation,how='inner',on='bin')
df_mergerd=df_prefcolumn.merge(df_violation,how='inner',on='bin')
# df_mergerd=df_prefcolumn.join(df_violation, on='bin', how='inner')

In [85]:
len(df_mergerd.index)

8854479

In [86]:
def remove_extrachar(x):
    x = str(x)
    x = x.strip("T00:00:00.000")
    return x

In [87]:
df_mergerd['expiration_date'] = df_mergerd['expiration_date'].apply(remove_extrachar)
df_mergerd['issuance_date'] = df_mergerd['expiration_date'].apply(remove_extrachar)
df_mergerd['filing_date'] = df_mergerd['filing_date'].apply(remove_extrachar)
df_mergerd['job_start_date'] = df_mergerd['job_start_date'].apply(remove_extrachar)
# df_mergerd['issue_dat'] = df_mergerd['issue_dat'].apply(remove_extrachar)

In [88]:
df_mergerd['job_start_date'].iloc[0]

'2016-03-3'

In [89]:
df_mergerd['issue_date'].iloc

In [70]:
def add_extrachar(x):
    x = str(x)
    x=  x[:4] + '-' + x[4:6] +'-'+ x[6:]    
    return x

df_mergerd['issue_date'] = df_mergerd['issue_date'].apply(add_extrachar)

In [71]:
df_mergerd['issue_date'].iloc[0]

'2016-08-23'

In [75]:
# df_mergerd.drop(df_mergerd[(df_mergerd.issue_date == '33218262') & (df_mergerd.issue_date == 'T90517') & (df_mergerd.issue_date == 'Y30819')].index, inplace=True)

In [90]:
df_mergerd['issue_date'] =  pd.to_datetime(df_mergerd['issue_date'], format='%Y-%m-%d')

In [91]:
df_mergerd['issuance_date'] = pd.to_datetime(df_mergerd['issuance_date'], format='%Y-%m-%d')
df_mergerd['expiration_date']=pd.to_datetime(df_mergerd['expiration_date'], format='%Y-%m-%d')
df_mergerd['job_start_date']=pd.to_datetime(df_mergerd['job_start_date'], format='%Y-%m-%d')
df_mergerd['filing_date']=pd.to_datetime(df_mergerd['filing_date'],format='%Y-%m-%d')

In [92]:
df_mergerd['filing_date']

0         2016-03-03
1         2015-11-16
2         2015-11-16
3         2016-08-25
4         2015-11-16
5         2016-09-21
6         2016-03-14
7         2015-08-02
8         2014-07-23
9         2016-10-02
10        2016-03-14
11        2016-03-24
12        2016-03-29
13        2014-06-11
14        2016-03-14
15        2016-03-14
16        2015-12-02
17        2016-02-03
18        2016-02-03
19        2016-03-14
20        2015-02-23
21        2016-03-24
22        2014-06-11
23        2016-03-24
24        2015-02-23
25        2015-12-02
26        2016-04-14
27        2015-02-23
28        2016-10-02
29        2016-02-03
             ...
8854449   2019-03-29
8854450   2019-03-29
8854451   2019-03-29
8854452   2019-03-29
8854453   2019-03-29
8854454   2019-03-29
8854455   2019-03-29
8854456   2019-03-29
8854457   2019-03-29
8854458   2019-03-29
8854459   2019-03-29
8854460   2019-03-29
8854461   2019-03-29
8854462   2019-03-29
8854463   2019-03-29
8854464   2019-03-29
8854465   2019-03-29
8854466   2019-03-29
8854467   2019-03-29
8854468   2019-03-29
8854469   2019-03-29
8854470   2018-09-14
8854471   2018-09-14
8854472   2018-09-14
8854473   2018-09-14
8854474   2018-09-14
8854475   2018-09-14
8854476   2018-09-14
8854477   2018-09-14
8854478   2018-09-14
Name: filing_date, Length: 8854479, dtype: datetime64[ns]

In [93]:
df_filtered=df_mergerd[(df_mergerd['issue_date'] >= df_mergerd['job_start_date'])]

MemoryError:

In [80]:
df_violation.to_csv("df_violation.csv")

In [ ]:
df_filtered.to_csv("df_filtered.csv")